<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - ContactGenie</title>
  
<body>
    <section class="banner">
        <div class="forgot-card">


            <h3>Enter New Password</h3>
          

            <form th:action="@{/change-password}" method="post">
                <div class="formgroup">
                    <input name="newpassword" type="password" required="required" class="emm" placeholder="Enter new password">
                </div>
                <div class="bnn">
                    <button type="submit" class="btn-otp">Change Password</button>
                </div>
            </form>

        </div>
    </section> 
</body>
</html>
