<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - ContactGenie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <section class="banner">
        <div class="forgot-card">

            <div class="alert alert-success paa" role="alert">
                <p>We have sent OTP to your email!</p>
            </div>

            <div th:if="${session.message}" class="contain">
                <div class="alert alert-danger text-center" role="alert">
                    <span th:text="${session.message}"></span>
                    
                </div>
            </div>

            <form th:action="@{/verify-otp}" method="post">
                <div class="formgroup">
                    <input name="otp" type="text" required="required" class="emm" placeholder="Enter OTP">
                </div>
                <div class="bnn">
                    <button class="btn-otp">Verify</button>
                </div>
            </form>

        </div>
    </section>
</body>
</html>
